#reg_no::placeholder {
  color: rgb(158, 158, 158);
  opacity: 1; /* Firefox */
}

.complaint_cont{
    padding: 3px;
    border-radius: 10px;
    background-color: rgb(252, 252, 252);
    margin-bottom: 20px;
}

.complaint_cont .complaint{
    margin-bottom: 8px;
}

#selected_advisor, #selected_advisor option{
  text-transform: none!important;
}

/* --------------------------------- */

.btn_cont{
    justify-content: space-between;
    padding: 0 5px;
}