{% extends "claim_manager/claim_manager_base.html" %}

{% load static %}

{% block title %}PENDING CIR SUMMARY{% endblock title %}

{% block manualcss %}
<link rel="stylesheet" href={% static "claim_manager/css/cir_list.css" %}>   
{% endblock manualcss %}

{% block pending_cir_active_class %}active{% endblock pending_cir_active_class %}

{% block report_active_class %}active{% endblock report_active_class %}
{% block pending_cir_subactive %}subactive{% endblock pending_cir_subactive %}

{% block content %}
<div class="page_data_cont">
    <div class="page_heading_cont">
        <h2 class="page_heading">PENDING CIR SUMMARY</h2>
        <div class="user_details_cont">
            <div class="user_details">{{request.user.first_name}} {{request.user.last_name}}</div>
            <div class="user_details">{{request.user.user_profile.user_designation.designation}}</div>
        </div>
    </div>

    {% if cir_reports.paginator.num_pages > 1 %}
    <div class="main_pagination" style="margin-top:15px;">

        <div class="pagination" >
            <span>
                {% if cir_reports.has_previous %}
                    <a class = "nav_links" href="?page={{cir_reports.previous_page_number}}">Previous - </a>
                {% endif %}
            </span>
            <span class="sr_no">{{cir_reports.number}}</span><span class = "of">of</span><span class="sr_no">{{cir_reports.paginator.num_pages}}</span>
            <span>
                {% if cir_reports.has_next %}
                    <a class = "nav_links" href="?page={{cir_reports.next_page_number}}"> - Next</a>
                {% endif %}
            </span>
        </div>

    </div>
    {% endif %}

    <div class="search_bar_cont">
        <div class="search_bar_wrapper">
            <input id="cir_search_input" class="form-control" type="text" placeholder="Search by Job Card No or Vehicle No..." >
            <button id="cir_search_clear" type="button" class="danger_btn">CLEAR</button>
        </div>
    </div>

    <div class="cards_cont">
        {% if cir_reports %}

            {% for cir_report in cir_reports %}
                {% if cir_report.claim_manager_preview == "pending" %}
                <div class="manual_card" style="background-color: rgb(255, 150, 150);" data-cir-date="{{ cir_report.cir_date_time }}" data-cir-uid="{{ cir_report.cir_uid }}">
                {% else %}
                <div class="manual_card" data-cir-date="{{ cir_report.cir_date_time }}" data-cir-uid="{{ cir_report.cir_uid }}">
                {% endif %}
                    <div class="report_heading_cont">
                        <div class="report_heading">
                            <span class="normal_text">{{cir_report.job_no}}</span>
                        </div>
                        <div class="report_heading">
                            {{cir_report.vehicle_no}}
                        </div>
                    </div>

                    <div class="report_heading_cont">
                        <div class="report_sub_heading">
                            {{cir_report.supervisor_name}}<span class="name_label"> (Supervisor) </span>
                        </div>
                        <div class="report_sub_heading">
                            {{cir_report.cir_date_time|date:"d-m-Y g:i A"}}
                        </div>
                    </div>

                    <div class="report_heading_cont">
                        <div class="report_sub_heading">
                            {{cir_report.service_advisor_report__advisor_name}}<span class="name_label"> (Advisor) </span>
                        </div>
                        <div class="report_sub_heading">
                            {{cir_report.service_advisor_report__sar_date_time|date:"d-m-Y g:i A"}}
                        </div>
                    </div>

                    <div class="report_heading_cont">
                        <div class="report_sub_heading">
                            {{cir_report.workshop_manager_name}}<span class="name_label"> (Work Manager) </span>
                        </div>
                        <div class="report_sub_heading">
                            {{cir_report.workshop_manager_verification_date_time|date:"d-m-Y g:i A"}}
                        </div>
                    </div>

                    <div class="field_buttons">
                        <form method="get" class="preview_cir_btn" action="{% url 'claim_manager_preview_cir' cir_report.cir_uid %}">
                            <button class="primary_btn" style="margin:auto;">PREVIEW CIR</button>
                        </form>
                    </div>
                </div>
            {% endfor %}
        
        {% else %}
            <h2 style="text-align: center; margin-top: 20px;" id="no_pending_cir_heading">No Pending CIR</h2>
        {% endif %}
    </div>

    {% if cir_reports.paginator.num_pages > 1 %}
    <div class="main_pagination" style="margin-top:15px;">

        <div class="pagination" >
            <span>
                {% if cir_reports.has_previous %}
                    <a class = "nav_links" href="?page={{cir_reports.previous_page_number}}">Previous - </a>
                {% endif %}
            </span>
            <span class="sr_no">{{cir_reports.number}}</span><span class = "of">of</span><span class="sr_no">{{cir_reports.paginator.num_pages}}</span>
            <span>
                {% if cir_reports.has_next %}
                    <a class = "nav_links" href="?page={{cir_reports.next_page_number}}"> - Next</a>
                {% endif %}
            </span>
        </div>

    </div>
    {% endif %}

</div>

<script>
    let socket = null;
    const claimmanagerUsername = "{{ request.user.username }}";
    const wsScheme = window.location.protocol === "https:" ? "wss" : "ws";
    const wsUrl = `${wsScheme}://${window.location.host}/ws/claimmanager_cir/${claimmanagerUsername}/`;

    if (navigator.onLine || (socket && (socket.readyState !== WebSocket.OPEN || socket.readyState !== WebSocket.CONNECTING))) {
        socket = new WebSocket(wsUrl);
    }
    
</script>

<script src={% static "claim_manager/js/cir_list.js" %}></script>

{% endblock content %}
