{% extends "supervisor/supervisor_base.html" %}

{% load static %}

{% block title %}CHANGE PASSWORD{% endblock title %}

{% block mobile_my_profile_active_class %}mobile_active_link{% endblock mobile_my_profile_active_class %}

{% block content %}
<div class="page_data_cont">
        <h2 class="page_heading" id="sale_order_heading">CHANGE PASSWORD</h2>

        <div style="margin-top:8px; margin-bottom:14px;" class="field_buttons">
            <a style="text-decoration:none;" href="{% url "supervisor_my_profile" %}" class="danger_btn back_btn"><i class="fas fa-arrow-left"></i> BACK</a>
        </div>

        <form method="POST" autocomplete="off" id="change_pwd_form">
            {% csrf_token %}

            <div class="mb-3">
                <label for="old_password" class="form-label"><span class="red_star">*</span>OLD PASSWORD</label>
                {{pwd_form.old_password}} <span class="required_msg">{{pwd_form.old_password.errors | striptags}}</span>
            </div> 
            
            <div class="mb-3">
                <label for="new_password" class="form-label"><span class="red_star">*</span>NEW PASSWORD</label>
                {{pwd_form.new_password1}} <span class="required_msg">{{pwd_form.new_password1.errors | striptags}}</span>
            </div> 

            <div class="mb-3">
                <label for="new_password" class="form-label"><span class="red_star">*</span>CONFIRM NEW PASSWORD</label>
                {{pwd_form.new_password2}} <span class="required_msg">{{pwd_form.new_password2.errors | striptags}}</span>
            </div> 

            <div class="btn_cont" style="justify-content: center;">
                <input type="submit" class="btn btn-success" style="padding-left: 30px!important; padding-right: 30px!important;" value="SAVE" id="save_btn">
            </div>
        </form>
</div>

<script src={% static "supervisor/js/supervisor_change_pwd.js" %}></script>

{% endblock content %}